[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
pytesseract = "*"
opencv-python = "*"
uvicorn = "*"
jinja2 = "*"
python-multipart = "*"
imutils = "*"
scipy = "*"
aiofiles = "*"

[dev-packages]

[requires]
python_version = "3.8"
